<div class = "container">
<h2> Restaurants </h2>
<table>
  <thead>
    <th width="40%">Restaurant Name</th>
    <th width="20%">Food Category</th>
  </thead>
  <tbody>
    <% @restaurants.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.category %></td>
        <td width="20%"><%= link_to "About", restaurant_path(r), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add New Restaurant", new_restaurant_path,class: "btn btn-primary" %>
</div>
